# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Authentication files
.htpasswd
*/.htpasswd

# Docker
.docker/

# System Files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Generated reports
**/reports/
**/html/